.flex-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  .fake-images{
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.flex-item1{
  display: flex;
  background: #00a2d4;
  height: 20vh;
  align-items: flex-end;
  justify-content: flex-end;
}
