.v_book--codeAnalyze_main{
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
  .box-card{
    width: 40%;
    border: 1px solid #00a2d4;
    text-align: center;
    .card-box{
      flex-direction: column;
    }
    ::v-deep .el-card__body{
      display: flex;
      justify-content: center;
      align-content: center;
    }

  }
}

.vertical-center{
  display: flex;
  justify-content: center;
  align-content: center;
}
